body { 
    background-attachment: fixed; 
    background-color: #039898; 
    background-image: url('images/backgrounds/open_space.gif'); 

    /* 
    background-color: rgba(0, 0, 139, 0.2);
    background-blend-mode: overlay;
    backdrop-filter:
        brightness(0.9)  
        contrast(1.5)  
        saturate(1.8)  
        hue-rotate(+50deg); 
    */
    
    font-family: serif; 
    text-align: center;
    margin: 0; 
    padding: 0; 
}

li, p { 
    line-height: 1.3em; 
    font-weight: bold;
}

a img {
    border: none; 
}

.nav { 
    background-color: #ffffcf;
    background-image: url('images/backgrounds/winborder.gif'); 
    background-size: 100% 100%;
    margin: 15px 0 15px 0; 
    padding: 5px; 
}

.nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.nav ul li {
    display: inline;
}

#container {
    background-color: #ffffff; 
    background-image: url('images/binder.gif'); 
    background-repeat: repeat-y; 
    padding: 25px 25px 25px 50px; 
    width: 640px;
    margin: 0 auto; 
    text-align: left; 
}

/* Classes */
.back a {
    vertical-align: top;
}

.hr {
    text-align: center;
}





