
body {
	background-color: #0d1117;

	padding: 0;
	margin: 40px auto;
	
	max-width: 650px;
	line-height: 1.6;

	font-size: 18px;
	color: #fee
}

p {
	font-size: 22px;
	text-align: justify;
}

h1, h2, h3 {
	line-height: 1.2;
}

.bash,
.bash-p,
.bash-dir,
.bash-title,
.bash-window {
	display: inline-block;
	padding: 10px;
	font-size: 18px;
	box-sizing: border-box;

	background-color: #161b22;
	color: #fee;
	text-decoration: none;

	font-family: monospace;
}

.bash-title {
	display: block;
	font-size: 2em;
	font-weight: bold;
}

.bash-dir {
	color: #87cefa;
}

.bash-window {
	display: block;
	width: 100%;
}

.bash-p {
	padding: 3px;
	border-radius: 8px;
}



